<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <pages pageParserFilterType="OpenRasta.Codecs.WebForms.OpenRastaPageParserFilter, OpenRasta.Codecs.WebForms">
            <namespaces>
                <add namespace="OpenRasta.Web"/>
                <add namespace="OpenRasta.Web.Markup"/>
                <add namespace="OpenRasta.Codecs.WebForms"/>
                <add namespace="OpenRasta" />
                <add namespace="OpenSurvey.Web.Resources"/>
            </namespaces>
        </pages>
        <httpHandlers>
            <add verb="*" path="*.rastahook" type="OpenRasta.Hosting.AspNet.OpenRastaHandler, OpenRasta.Hosting.AspNet"/>
        </httpHandlers>
        <httpModules>
            <add name="RastaModule" type="OpenRasta.Hosting.AspNet.OpenRastaModule, OpenRasta.Hosting.AspNet"/>
        </httpModules>
    </system.web>

</configuration>
